// main: _main.styl

min_height = 200px
max_height = 700px

bg_color = rgb(249, 200, 30)

.header
    width 100vw
    min-height min_height
    max-height max_height
    position relative
    overflow hidden
    background-color bg_color
    padding-top 50px
    padding-left 50px
    padding-right 50px
    div
        display inline-block
    .img-container
        min-width min_height
        min-height min_height
        max-width max_height
        max-height max_height
        float left
        img
            width 100%
            height 100%

    .text
        position relative
        float left
        min-width 200px
        width 500px
        min-height 300px
        color white
        font-weight bold
        font-family: 'Lato', sans-serif;
        margin-top 150px
        margin-left 150px
        h1
            font-size 40px
        p
            font-size 22px
            font-weight lighter
